/* 4 - External */
h3 {
    color: green;
}

body {
    padding-bottom: 500px;
}

p { 
    color: blueviolet;
}


.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
}

h2 {
    border-bottom: 2px solid black;
    font-size: 40px;
}

.titulo{
    border-bottom: 3px solid blue;
    font-size: 40px;
}

#algum-titulo{
    border-bottom: 4px solid green;
}

/* Nome de Cores */

.color{
    color: crimson;
}

.hex{
    color: #55A398;
}

.hex2{
    color: #55A311;
}

.simple-hex{
    color: #333;
}


.simple-hex-2{
    color: #A5F;
}

.rgb {
    color : rgb(255, 0, 0);
}

.mixed-rgb {
    color : rgb(57,96,110);
}

.rgba {
    color : rgba(100, 199, 45, 0.3);
}

.bg{
    background-color: #000;
    color: yellow;
}

.bg2{
    background-color: rgb(200,20,40);
    color: #00eaff
}

.bg-opacity{
    background-color: green;
    opacity: 0.7;
}

.bgba-opacity{
    background-color: rgba(90,120,20, 0.05);
    color: #000
}

.bg-image{
    background-image: url('../../2_HTML/img/199dc0bd-aeda-44d6-8ccf-23e043f29e4f1750189625eytE.jpg');
    padding: 10px;
    color: white;
}

.not-center-bg, 
.center-bg{
    height: 400px;
    width: 400px;
    background-image: url('../../2_HTML/img/199dc0bd-aeda-44d6-8ccf-23e043f29e4f1750189625eytE.jpg');
}

.center-bg{
    background-position: center;
    background-size: cover;

}

.height-width{
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2{
    height: 300px;
    background-color: darkblue;
}

.without-padding{
    padding: 0;
    background-color: #111;
    color: #fff;
}

.with-padding{
    padding: 20px;
    background-color: lightblue;
}

.padding-individual{
    background-color: #222;
    color: #fff;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
}


.shorthand-padding{
    background-color: #444;
    color: #fff;
    padding: 6px 12px 18px 24px;
}

.border{
    border: 5px solid red;
    padding: 10px;
    background-color: #999;
}

.border-2{
    border: 2px dotted #931;
    padding: 50px;
    background-color: #680;
}

.border-left{
    border-left: 3px solid red;
    padding: 25px;
    background-color: #222;
}

.border-bottom{
    border-bottom: 5px double blue;
    padding: 25px;
    background-color: #222;
}


.margin{
    background-color: #333;
    margin: 10px;
}


.margin-top{
    margin-top: 50px;
    background-color: #444;
    padding: 10px;
}

.margin-shorthand{
    margin: 5px 10px 15px 20px;
    background-color: #555;
}

.box-model{
    margin: 20px;
    padding: 15px 25px;
    border-radius: 7px;
    width: 200px;
    height: 100px;
}

.box-model-challenger{
    margin: 15px;
    padding: 15px;
    border: 5px solid #459;
    outline: 5px solid #952;
    background-color: #123;
}

.challenge-title{
    background-color: #000;
    color: #fff;
    border: none;
}


.text-align{
    text-align: right;
    color: #000;
}

.text-align-center{
    text-align: center;
    width: 300px;
    border: 1px solid red;
    margin: 0 auto;
    color: #000;
}


.underline{
    text-decoration: underline;
}

.line-through{
    text-decoration: line-through;
}

.remove-underline{
    text-decoration: none;
    color: #f00;
}

.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

.spacing{
    letter-spacing: 5px;
}

.serif{
    font-family: Georgia, serif;
}

.sans-serif{
    font-family: Helvetica, sans-serif;
}

.monospace{
    font-family: 'Courier New', monospace;
}

.cursive{
    font-family: 'Brush Script MT', cursive;
}

.fantasy{
    font-family: 'Impact', fantasy;
}

.italic{
    font-style: italic;
}

.oblique{
    font-style: oblique;
}

.weight{
    font-weight: bold;
}


.thin, .bold, .bolder, .normal{
    font-family: Helvetica;

}

.thin{
    font-weight: 100;
}

.bold{
    font-weight: 600;
}

.bolder{
    font-weight: 900;
}

.normal{
    font-weight: 300;
}

.small{
    font-size: 10px;
}

.big{
    font-size: 78px;
}

.inline-box{
    width: 50px;
    height: 50px;
    background-color: #4f8;
    margin: 10px;
    display: inline-block;
}

.block{
    background-color: #333;
    display: block;
    margin: 10px;
    color: #fff
}

.invisible{
    display: none;
}

.position-static{
    position: static;
    background-color: #391;
    color: #fff;
    width: 100px;
    height: 100px;
}


.position-relative{
    position: relative;
    background-color: #224;
    color: #fff;
    width: 100px;
    height: 100px;
    top:100px;
    left: 10px;
}


.position-absolute{
    position: absolute;
    background-color: #964;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;
}

.relative-container{
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin: 120px;
}

.absolute-1, .absolute-2{
    width: 50px;
    height: 50px;
    background-color: #427;
    position: absolute;
}

.absolute-1{
    top: 20px;
    left: 20px;
}

.absolute-2{
    top: 10px;
    left: 10px;
}

.position-fixed{
    position: fixed;
    background-color: #222;
    color: #fff;
    top: 50px;
    
}