html{
    font-family: Helvetica;
    background-color: #ddd;
    color:black;
}

.container{
    max-width: 1100px;
    background-color: white;
    position: relative;
    margin: 0 50px auto;
    padding: 20px 50px;
}

.bold{
    font-weight: bold;
}

.header{
    text-align: center;
}

.main-title{
    font-size: 40px;
}

.main-paragraph{
    font-style: italic;
}

.featured-image{
    text-align: center;
    margin-bottom: 30px;
}

.biography-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
}

.quotes-container{
    background-color: #ddd;
    padding: 30px;
}

.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p{
    font-style: italic;
}

.curiosities-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
}

curiosities-container li{
    height: 30px;
}


.img-bold{
    font-weight: bold;
    text-align: center;
}

.moreinfo-container{
    margin-top: 15px;
}
